{% comment %}
  This is a custom banner section for the Wanko-Massage-Chairs-Shopify-Theme/main theme.
{% endcomment %}

<section 
  id="banner-section-{{ section.id }}" 
  class="banner-background"
  style="background-image: url('{{ section.settings.banner_image | img_url: 'master' }}');"
>
  {% if section.settings.banner_link != blank %}
    <a href="{{ section.settings.banner_link }}" class="banner-link" target="_blank"></a>
  {% endif %}
</section>


{% schema %}
{
  "name": "Custom Banner Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "Banner Link"
    }
  ],
  "presets": [
    {
      "name": "Custom Banner Section"
    }
  ]
}
{% endschema %}
