<header id="header">
  <!-- end topbar -->
  <div class="site-header">
    <nav class="navigation navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-3 col-3 d-lg-none dl-block">
            <div class="mobail-menu">
              <button type="button" class="navbar-toggler open-btn">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar first-angle"></span>
                <span class="icon-bar middle-angle"></span>
                <span class="icon-bar last-angle"></span>
              </button>
            </div>
          </div>
          <div class="col-lg-1 col-md-6 col-6">
            <div class="navbar-header">
              <a class="navbar-brand" href="index.html"><img src="assets/logo.png" alt="logo"></a>
            </div>
          </div>
          <div class="col-lg-9 col-md-1 col-1">
            <div id="navbar" class="collapse navbar-collapse navigation-holder">
              <button class="menu-close"><i class="ti-close"></i></button>
              <ul class="nav navbar-nav mb-2 mb-lg-0">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li class="menu-item-has-children">
                  <a href="#">Products</a>
                  <ul class="sub-menu">
                    <li><a href="product-single.html">WANKO SL-Track Zero Gravity Full Body Recliner Massage</a></li>
                    <li>
                      <a href="product-single.html">WANKO SL-Track Zero Gravity Full Body Recliner Massage Chair</a>
                    </li>
                    <li>
                      <a href="product-single.html">WANKO SL-Track Zero Gravity Full Body Recliner Massage Chair</a>
                    </li>
                    <li>
                      <a href="product-single.html">WANKO SL-Track Zero Gravity Full Body-Recliner Massage Chair</a>
                    </li>
                    <li>
                      <a href="product-single.html">WANKO Zero Gravity Full Body Massage Chair Wireless Music-Sync</a>
                    </li>
                  </ul>
                </li>
                <li><a href="warranty-coverage.html">Warranty Coverage</a></li>
                <li><a href="return-policy.html">Return Policy</a></li>
                <li><a href="shipping-policy.html">Shipping Policy</a></li>
                <li><a href="faq.html">FAQ</a></li>
              </ul>
            </div>
            <!-- end of nav-collapse -->
          </div>
          <div class="col-lg-2 col-md-2 col-2">
            <div class="header-right">
              <div class="header-search-form-wrapper">
                <div class="cart-search-contact">
                  <button class="search-toggle-btn">
                    <i
                      class="fi flaticon-search"
                    ></i>
                  </button>
                  <div class="header-search-form">
                    <form>
                      <div>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Search here..."
                        >
                        <button type="submit">
                          <i
                            class="fi flaticon-search"
                          ></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="header-login">
                <a class="login-btn" href="login.html"
                  ><i
                    class="fi flaticon-user-profile"
                  ></i
                ></a>
              </div>
              <div class="mini-cart">
                <button class="cart-toggle-btn">
                  <i class="fi flaticon-add-to-cart"></i>
                  <span
                    class="cart-count"
                    >2</span
                  >
                </button>
                <div class="mini-cart-content">
                  <div class="title"></div>
                  <button class="mini-cart-close"><i class="ti-close"></i></button>
                  <div class="mini-cart-items">
                    <p class="top-p">Your Cart (1)</p>

                    <div
                      class="mini-cart-item clearfix"
                      data-bs-toggle="modal"
                      data-bs-target="#popup-quickview"
                    >
                      <div class="mini-cart-item-image">
                        <a href="shop.html"><img src="assets/product-1.webp" alt></a>
                      </div>
                      <div class="mini-cart-item-des">
                        <h4><a href="product-single.html">SL-Track</a></h4>
                        <ul class="product-text-sub">
                          <li>Black</li>
                        </ul>
                        <a href="#" class="dlt-btn"><i class="ti-trash"></i></a>
                      </div>
                      <div class="pro-single-btn">
                        <span class="price">$200.00</span>
                        <div class="quantity cart-plus-minus">
                          <input type="text" value="1">
                          <div class="dec qtybutton"></div>
                          <div class="inc qtybutton"></div>
                          <div class="dec qtybutton">-</div>
                          <div class="inc qtybutton">+</div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="mini-cart-item clearfix"
                      data-bs-toggle="modal"
                      data-bs-target="#popup-quickview"
                    >
                      <div class="mini-cart-item-image">
                        <a href="shop.html"><img src="assets/product-2.webp" alt></a>
                      </div>
                      <div class="mini-cart-item-des">
                        <h4><a href="product-single.html">SL-Track</a></h4>
                        <ul class="product-text-sub">
                          <li>Black</li>
                        </ul>
                        <a href="#" class="dlt-btn"><i class="ti-trash"></i></a>
                      </div>
                      <div class="pro-single-btn">
                        <span class="price">$200.00</span>
                        <div class="quantity cart-plus-minus">
                          <input type="text" value="1">
                          <div class="dec qtybutton"></div>
                          <div class="inc qtybutton"></div>
                          <div class="dec qtybutton">-</div>
                          <div class="inc qtybutton">+</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mini-cart-action clearfix">
                    <ul>
                      <li>Subtotal(2 items)</li>
                      <li><strong>$68,000</strong></li>
                    </ul>
                    <div class="mini-btn">
                      <a href="checkout.html" class="view-cart-btn">CONTINUE TO CHECKOUT</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of container -->
    </nav>
  </div>
</header>
