<section class="service-section section-padding pt-0">
  <div class="service-title">
    <h2>{{ section.settings.section_title }}</h2>
  </div>
  <div class="service-wrap">
    <div class="container">
      <div class="row align-items-center">
        {% for block in section.blocks %}
          <div class="col-lg-4 col-md-6 col-12">
            <div class="service-item wow fadeInUp" data-wow-duration="1000ms">
              <h2>{{ block.settings.title }}</h2>
              <p>
                {{ block.settings.description }}
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="service-item wow fadeInUp" data-wow-duration="1200ms">
              <div class="service-img">
                <img src="{{ block.settings.block_image |  image_url: width: 800 }}" width="" height="" alt="">
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Warranty Section",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Affordable Luxury with our Dependable 5-Year Warranty"
    }
  ],
  "blocks": [
    {
      "name": "Slider",
      "type": "block",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Sleek, Modern Design"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Discover the perfect blend of style and functionality with our sleek, modern massage chairs. Designed with contemporary aesthetics in mind, each chair is crafted to complement any home or office space. The ergonomic contours not only provide ultimate comfort but also add a touch of sophistication to your environment. Elevate your space with a chair that offers more than just relaxation its a statement piece that reflects your refined taste."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Warranty Section",
      "blocks": [
        {
          "type": "block"
        }
      ]
    }
  ]
}
{% endschema %}
